html {
  /* Green */
  /*
    --main-color: rgba(0,255,0,0.8);
    --link-color: var(--main-color);
    --hover-color: rgba(255,255,0,1);
    --nav-link: rgba(0,255,0,0.8);
    --nav-current-shadow: rgba(0,255,0,0.45);
    --nav-current-color: rgba(0,70,0,1);
    --nav-current-background-color: rgba(0,255,0,0.8);
    --nav-current-hover-color: rgba(70,70,0,1);
    --nav-current-hover-background-color: rgba(255,255,0,1);
    --nav-current-hover-shadow: rgba(255,255,0,0.65);
    */

  /* Off-white */

  --main-color: rgba(240, 240, 240, 0.8);
  --link-color: var(--main-color);
  --hover-color: rgba(255, 255, 255, 1);
  --nav-link: rgba(255, 255, 255, 0.8);
  --nav-current-shadow: rgba(255, 255, 255, 0.45);
  --nav-current-color: rgba(50, 50, 50, 1);
  --nav-current-background-color: rgba(240, 240, 0, 0.8);
  --nav-current-hover-color: rgba(70, 70, 0, 1);
  --nav-current-hover-background-color: rgba(255, 255, 0, 1);
  --nav-current-hover-shadow: rgba(255, 255, 0, 0.65);
}
.card-1-div{
  display: none;
}
header {
  color: wheat;
}
#header_ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-family: "Terminal";
  padding: 0;
  font-size: 20px;
}
.header_li {
  margin-left: 3vw;
  margin-right: 3vw;
}

a {
  color: var(--hover-color);
  text-shadow: inherit;
  box-shadow: 0px 0px 0px 0px var(--nav-current-shadow);
  text-decoration: none;
  padding: 7px;
}

a:hover {
  background-color: var(--nav-current-hover-background-color);
  color: var(--nav-current-hover-color);
}

.wrapper {
  width: 100%;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.Iosevka {
  font-family: Iosevka Nerd Font;
}
.Terminal {
  font-family: Terminal;
}

.my-info {
  padding: 1em;
  font-family: Iosevka Nerd Font;
  display: inline-block;
  max-width: 400px;
}
.my-info h1 {
  font-size: 5em;
}
.my-info h3 {
  font-size: 3.5em;
  margin: 0;
}
.my-info h4 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

.gradient {
  color: transparent;
  animation: flow 2s ease-in-out forwards;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background-size: auto;
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300%;
  -webkit-text-fill-color: transparent;
}

#anime-gif {
  width: 300px;
}

.bg-skill {
  font-size: 2em;
  background-color: #353434;
  margin: 0.2em;
  padding: 0.2em;
  line-height: 2;
}

.edited_img {
  text-align: center;
}
.edited_img > img {
  width: 100%;
  max-width: 500px;
}

.skills {
  text-align: center;
}
.skills img {
  width: 72px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projectImage {
  width: 100%;
}

.card {
  /*border: 2px solid red;*/
  margin: 7px;
  max-width: 370px;
  background-color: #09312e;
  border: solid  1px;
  border-color: rgb(75 85 99/1);
  border-radius: .5rem;
  color: rgb(163 163 163/1);
  padding: 1em;
  display: flex;
  flex-direction: column;
  font-family: Inter;
}
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  img s{
    flex: 1 0 auto;
  }
}

.card-2-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-weight: 300;
  color: white;
  font-size: 19px;
}

.card-3-div{
  font-family: Iosevka Nerd Font;
}

.card-4-div span{
  color: rgb(229 231 235/1);
  background-color: rgb(55 65 81/1);
  font-weight: 600;
  border-radius: 0.25em;
  padding-top: .375rem;
  padding-bottom: .375rem;
  padding-left: .75rem;
  padding-right: .75rem;
  font-family: Terminal;
 }

@media screen and (max-width: 768px) {
  #anime-gif {
    display: none;
  }
}
